
<script type="text/javascript" charset="utf-8">
  $(function() {
    $('#details_tabs').tabs().removeClass('ui-widget');
  });
</script>


<div class="span-44 last half_padding">
  <div id="details_tabs" style="clear: both;">
    <ul>
      <li><a href="#details_tab-1"><span><%= h(t(:knowledge)) %></span></a></li>
      <li><a href="#details_tab-2"><span><%= h(t(:abilities)) %></span></a></li>
    </ul>
    <div id="details_tab-1" class="span-44 last half_padding">
      <%- if hash_has_value?(@occupation,"knowledge")-%>
        <%- for knowledge in @occupation["knowledge"] -%>
          <div class="span-42 last"><span><strong><%= knowledge["title"] %></strong></span></div>
          <div class="span-42 last"><span><%= t(:importance) %>: <%= stars_for(knowledge["stars"]) %></span></div>
          <div class="span-42 last"><span><%#= knowledge.description %></span></div>
          <hr class="column last prepend-top append-bottom medium" />
        <%- end -%>
      <%- end -%>
    </div>
    <div id="details_tab-2" class="span-43 last half_padding">
      <%- if hash_has_value?(@occupation,"abilities")-%>
        <%- for ability in @occupation["abilities"] -%>
          <div class="span-42 last"><span><strong><%= ability["title"] %></strong></span></div>
          <div class="span-42 last"><span><%= t(:importance) %>: <%= stars_for(ability["stars"]) %></span></div>
          <div class="span-42 last"><span><%#= ability.description %></span></div>
          <hr class="column last prepend-top append-bottom medium" />
        <%- end -%>
      <%- end -%>
    </div>
  </div>
</div>