<% unless @occupations.blank? %>
  <div class="span-35 last results">
    <% @occupations.each do |occupation| %>
      <div class="span-35 last prepend-top">
        <div class="span-35 last header">
          <span class="column">
            <%= link_to occupation["title"],career_show_path(occupation["api_safe_onet_soc_code"]) %>
          </span>
        </div>
        <% if occupation.has_key?("average_national_salary") or occupation.has_key?("education_level") %>
          <ul style="margin:5px 0 0" class="column span-35 last horizontal_info_list bold">
            <% if occupation.has_key?("average_national_salary")%>
              <li>Avg. National Salary: <%= number_to_currency(occupation["average_national_salary"], :precision => 0) %></li>
            <% end %>
            <% if occupation.has_key?("education_level") %>
              <li>Education: <%= occupation.education_level %></li>
            <% end %>
          </ul>
        <% end %>
        <div style="margin:5px 0 0" class="span-35 last">
          <%= truncate(occupation["description"], :length => 250) %>
        </div>
        <%- if occupation.has_key?("projected_national_openings") or occupation.has_key?("annual_national_growth") -%>
          <ul style="margin:5px 0 0" class="column span-35 last horizontal_info_list quiet">
            <%- if occupation.has_key?("projected_national_openings")-%>
              <li>Projected Job Openings: <%= number_with_delimiter(occupation.projected_national_openings, :precision => 0) %></li>
            <%- end -%>
            <%- if occupation.has_key?("annual_national_growth") -%>
              <li>Annual Growth Rate: <%= number_with_delimiter(occupation.annual_national_growth, :precision => 0) %> %</li>
            <%- end -%>
          </ul>
        <%- end -%>
        <%- if occupation.has_key?("industries") && occupation["industries"].present? -%>
          <ul style="margin:5px 0 0" class="column span-35 last horizontal_info_list quiet">
            <li>
              Industry:
              <%- occupation["industries"].each do |i| -%>
                <%= link_to i["name"], "#" %>
        <%#= link_to i["name"], i["published? ? industry_path(i) : industry_path(i.parent_industry) %>
              <%- end -%>
            </li>
          </ul>  
        <%- end -%>
        <div style="margin:5px 0" class="span-35 last column">
          <a href="/jobs/search?search%5Bkeywords%5D=onet%3A%2853-2011%29&amp;search%5Blocation%5D=">View jobs for Airline Pilots, Copilots, and Flight Engineers</a>
        </div>
      </div>
    <% end %>
    <div class="span-35 last append-bottom">
      <div class="inline_inputs right last" id="pagination"></div>
    </div>

    <hr class="auto">
    <div class="left"><%= image_tag("onet_e",:alt => "Onet")%></div>
    <div class="left"><span class="tinytext">National Data Source: Bureau of Labor Statistics, Office of Occupational Statistics and Employment Projections<br>State Data Source: The Employment Security Commission</span></div>
  </div>
<% else %>
  No contents!!
<% end %>