<div style="min-height:500px;">
  <div class="wrapperbanr">
    <div class="clear"></div>
    <!--Main container_left starts-->
    <div class="span-00">
      <div class="clear"></div>
      <div class="container">
        <%= form_tag('/career/assessment_result', :method => :get, :class => "auto_search") do |f| -%>
          <%= hidden_field_tag "search[riasec]", params[:search][:riasec] %>
          <%= hidden_field_tag "search[skills]", params[:search][:skills] %>
          <div>
            <div class="span-46" id="flash_messages"></div>
            <div style="display:none;" id="stem_bubble_contents"><span class="small_text">STEM stands for Science, Technology, Engineering, and Math. People who pursue these high-tech career paths tend to be highly valued by employers and may receive higher than usual salaries.</span></div>
            <div class="span-46 last font1">

              </h2>
              <hr/>
              <span class="space3"></span>
              <div style="background: transparent url('/assets/blue_box_background.jpg') top left no-repeat; height:61px" class="span-35 last rounded_box">
                <span style="font-size:15px; margin:15px 0 7px 15px" class="left span-34">Your Assessment Results</span>
                <span style="color:#616161; margin:0 0 0 15px" class="left span-34">Based on your answers, the following career paths may match your skills and interests.</span>
              </div>
              <div class="span-46 last search">
                <div class="span-46 last bold prepend-top">
                  <div class="fl" id="result_count"></div>
                  <%= render "commons/state_dropdown" %>
                </div>
                <hr class="auto">
              </div>
              <%= render "commons/left_search_menu" %>
              <div class="results">
                <%= render "commons/result" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>








