
<!--Main container starts-->
<div style="min-height:500px;">
  <div class="wrapperbanr">
    <div class="clear"></div>
    <!--Main container_left starts-->
    <div class="span-00">
      <div class="clear"></div>
      <div class="container">
        <%= form_tag(search_result_career_index_path, :method => :get) do |f| -%>

          <div >
            <div class="span-46" id="flash_messages">
            </div>
            <div style="display:none;" id="stem_bubble_contents"><span class="small_text">STEM stands for Science, Technology, Engineering, and Math. People who pursue these high-tech career paths tend to be highly valued by employers and may receive higher than usual salaries.</span></div>
            <div class="span-46 last font1">
              Explore Career Paths
              </h2>
              <hr/>
              <span class="space3"></span>
              <div style="padding: 15px 5px 15px 15px" class="span-45 last search top_bnr">
                <label for="search_keywords" class="no_colon bold">By Keyword or Military Occupation (MOC)</label><br>
                <div class="span-18 inline_inputs">
                  <input type="text" id="ezpz_hint_dummy_input_0" value="" class="moc_autocomplete_multiple hint ezpz-hint ui-autocomplete-input" size="40" autocomplete="off" tabindex="0" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                  <input class="moc_autocomplete_multiple hint ui-autocomplete-input" hint="e.g. 'Nurse' or '11B'" id="search_keywords" name="search[keywords]" size="40" type="text" title="e.g. 'Nurse' or '11B'" style="display: none; " autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                </div>
                <div class="span-15 last inline_inputs">
                  <%= submit_tag "",:class => "btn_carrer"  %>
                </div>
              </div>

              <div class="span-46 last search">
                <div class="span-46 last bold prepend-top">
                  <div class="fl" id="result_count">Found 8 matches for "<em>11B1A "Bomber Pilot, B-1 (Officer)"</em>"</div>
                  <div style="padding: 0 0 0 30px" class="rt">
                    Show Data For
                    <%= select_tag :state_id, options_for_select(state_hash_as_array, "") %>
                  </div>
                </div>
                <hr class="auto">
              </div>

              <div class="span-10 append-1 left_nav prepend-top">
                <span class="bold quiet">Narrow Your Results</span>
                <div class="span-9 last append-1 half_padding box_group rounded_box">
                  <label for="search_min_salary">Minimum National Salary</label>
                  <%= select_tag("search[min_salary]", options_for_select(translate_options( ApplicationHelper::SALARY_LEVEL_MIN)), { :prompt => "Any" }) %>
                </div>
                <div class="span-9 last append-1 half_padding box_group rounded_box">
                  <label for="search_minimum_education_level">Maximum Required Education</label>
                  <%= select_tag("search[minimum_education_level]", options_for_select(translate_options(ApplicationHelper::EDUCATION_LEVEL)), { :prompt => "Any" }) %>
                </div>
                <div class="span-9 last append-1 half_padding box_group rounded_box">
                  <label for="search_industry_id">Industry</label>
                  <%= select_tag("search[industry_id]", options_for_select(@industries), { :prompt => "Any" }) %>
                </div>
                <div class="span-9 last append-1 half_padding box_group rounded_box append-bottom">
                  <span class="bold">STEM Careers</span><br>
                  <input type="hidden" value="0" name="search[stem_only]"><input type="checkbox" value="1" name="search[stem_only]" id="search_stem_only" class="inline_inputs">
                  <label for="search_stem_only" class="inline_inputs">Limit to STEM Career Paths</label>
                  <a id="stem" class="bubble_popup" href="#">What are STEM career paths?</a>
                </div>
                <hr class="auto">
                <a href="/careers/assessment_result">View Assessment Results</a>
              </div>
              <% unless @occupations.blank? %>
                <div class="span-35 last results">
                  <% @occupations.each do |occupation| %>
                    <div class="span-35 last prepend-top">
                      <div class="span-35 last header">
                        <span class="column">
                          <%= link_to occupation["title"],occupation["link"] %>
                        </span>
                      </div>
                      <% if occupation.has_key?("average_national_salary") or occupation.has_key?("education_level") %>
                        <ul style="margin:5px 0 0" class="column span-35 last horizontal_info_list bold">
                          <% if occupation.has_key?("average_national_salary")%>
                            <li>Avg. National Salary: <%= number_to_currency(occupation["average_national_salary"], :precision => 0) %></li>
                          <% end %>
                          <% if occupation.has_key?("education_level") %>
                            <li>Education: <%= occupation.education_level %></li>
                          <% end %>
                        </ul>
                      <% end %>
                      <div style="margin:5px 0 0" class="span-35 last">
                        <%= truncate(occupation["description"], :length => 250) %>
                      </div>
                      <%- if occupation.has_key?("projected_national_openings") or occupation.has_key?("annual_national_growth") -%>
                        <ul style="margin:5px 0 0" class="column span-35 last horizontal_info_list quiet">
                          <%- if occupation.has_key?("projected_national_openings")-%>
                            <li>Projected Job Openings: <%= number_with_delimiter(occupation.projected_national_openings, :precision => 0) %></li>
                          <%- end -%>
                          <%- if occupation.has_key?("annual_national_growth") -%>
                            <li>Annual Growth Rate: <%= number_with_delimiter(occupation.annual_national_growth, :precision => 0) %>%</li>
                            <%- end -%>
                        </ul>
                      <%- end -%>
                      <%- if occupation.has_key?("industries") && occupation["industries"].present? -%>
                        <ul style="margin:5px 0 0" class="column span-35 last horizontal_info_list quiet">
                          <li>
                            Industry:
                            <%- occupation["industries"].each do |i| -%>
                              <%= link_to i["name"], "#" %>
          <%#= link_to i["name"], i["published? ? industry_path(i) : industry_path(i.parent_industry) %>
                            <%- end -%>
                          </li>
                        </ul>  
                      <%- end -%>
                      <div style="margin:5px 0" class="span-35 last column">
                        <a href="/jobs/search?search%5Bkeywords%5D=onet%3A%2853-2011%29&amp;search%5Blocation%5D=">View jobs for Airline Pilots, Copilots, and Flight Engineers</a>
                      </div>
                    </div>
                  <% end %>
                  <div class="span-35 last append-bottom">
                    <div class="inline_inputs right last" id="pagination"></div>
                  </div>

                  <hr class="auto">
                  <div class="left"><img src="/assets/icons/onet-e093eac39b28e3d975b3739c6dedeb2b.jpg" class="" alt="Onet"></div>
                  <div class="left"><span class="tinytext">National Data Source: Bureau of Labor Statistics, Office of Occupational Statistics and Employment Projections<br>State Data Source: The Employment Security Commission</span></div>
                </div>
              <% end %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!--Footer starts-->







