<%#= raise @occupations.inspect %>
<!--Main container starts-->
<div style="min-height:500px;">
  <div class="wrapperbanr">
    <div class="clear"></div>
    <!--Main container_left starts-->
    <div class="span-00">
      <div class="clear"></div>
      <div class="container">
        <%= form_tag('/career/search_result', :method => :get, :class => "auto_search") do |f| -%>
          <div>
            <div class="span-46" id="flash_messages">
            </div>
            <div style="display:none;" id="stem_bubble_contents"><span class="small_text">STEM stands for Science, Technology, Engineering, and Math. People who pursue these high-tech career paths tend to be highly valued by employers and may receive higher than usual salaries.</span></div>
            <div class="span-46 last font1">
              Explore Career Paths
              </h2>
              <hr/>
              <span class="space3"></span>
              <div style="padding: 15px 5px 15px 15px" class="span-45 last search top_bnr">
                <label for="search_keywords" class="no_colon bold">By Keyword or Military Occupation (MOC)</label><br>
                <div class="span-18 inline_inputs">
                  <%= text_field_tag "search[keywords]" %>
                </div>
                <div class="span-15 last inline_inputs">
                  <%= submit_tag "",:class => "btn_carrer"  %>
                </div>
              </div>

              <div class="span-46 last search">
                <div class="span-46 last bold prepend-top">
                  <div class="fl" id="result_count">Found 8 matches for "<em>11B1A "Bomber Pilot, B-1 (Officer)"</em>"</div>
                  <div style="padding: 0 0 0 30px" class="rt">
                    Show Data For
                    <%= select_tag :state_id, options_for_select(state_hash_as_array, "") %>
                  </div>
                </div>
                <hr class="auto">
              </div>

              <div class="span-10 append-1 left_nav prepend-top">
                <span class="bold quiet">Narrow Your Results</span>
                <div class="span-9 last append-1 half_padding box_group rounded_box">
                  <label for="search_min_salary">Minimum National Salary</label>
                  <%= select_tag("search[min_salary]", options_for_select(translate_options( ApplicationHelper::SALARY_LEVEL_MIN)), { :prompt => "Any" }) %>
                </div>
                <div class="span-9 last append-1 half_padding box_group rounded_box">
                  <label for="search_minimum_education_level">Maximum Required Education</label>
                  <%= select_tag("search[minimum_education_level]", options_for_select(translate_options(ApplicationHelper::EDUCATION_LEVEL)), { :prompt => "Any" }) %>
                </div>
                <div class="span-9 last append-1 half_padding box_group rounded_box">
                  <label for="search_industry_id">Industry</label>
                  <%= select_tag("search[industry_id]", options_for_select(@industries), { :prompt => "Any" }) %>
                </div>
                <div class="span-9 last append-1 half_padding box_group rounded_box append-bottom">
                  <span class="bold">STEM Careers</span><br>
                  <input type="hidden" value="0" name="search[stem_only]"><input type="checkbox" value="1" name="search[stem_only]" id="search_stem_only" class="inline_inputs">
                  <label for="search_stem_only" class="inline_inputs">Limit to STEM Career Paths</label>
                  <a id="stem" class="bubble_popup" href="#">What are STEM career paths?</a>
                </div>
                <hr class="auto">
                <a href="/careers/assessment_result">View Assessment Results</a>
              </div>
              <%= render 'result_list' %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!--Footer starts-->







