<div class="wrapperbanr">
  <!--Banner starts-->
  <div class="banr_continer">
    <div class="banr"> <%= image_tag "baner_image.png", :width => "620", :height => "300" %></div>
    <div class="bnr_scnd">
      <a href="<%=assessment_index_path%>">
        <div class="linkbnr"></div>
      </a>
      <a href="#" id="homepage_video">
        <div class="linkbnr2"></div>
      </a>
    </div>
  </div>
  <div class="features_wrpr">
    <div class="features_tabs span-201">
      <div style="float:left; "><%= image_tag "STEM_10.png", :width=>"22",:height=>"22" %></div>
      <h2>Assess</h2>
      <h3>&nbsp;Yourself</h3>
      <p>Take our simple 14-question self assessment to find out which careers match you. </p>
      <div ><%= link_to "Assess Yourself »", assessment_index_path, :class => "linkbtm" %></div>
    </div>
    <div class="features_tabs span-201">
      <div style="float:left; "><%= image_tag "STEM_12.png", :width=>"22",:height=>"22" %></div>
      <h2>Explore</h2>
      <h3>&nbsp;Careers</h3>
      <p>Not sure what you want to do? Explore and learn about the many career options featured on Pipeline. </p>
      <div ><%= link_to "Explore Careers »", career_search_path, :class => "linkbtm" %></div>
    </div>
    <div class="features_tabs span-201">
      <div style="float:left; "><%= image_tag "STEM_14.png", :width=>"22",:height=>"22" %></div>
      <h2>Find</h2>
      <h3>&nbsp;Resources</h3>
      <p>Need additional information? Check out these resources dedicated to STEM careers. </p>
      <div ><a href="/static/resources" class="linkbtm">Find STEM Resources »</a></div>
    </div>
    <div class="features_tabs span-201" style="margin-right:0px !important;">
      <div style="float:left; "><%= image_tag "STEM_17.png", :width=>"22",:height=>"22" %></div>
      <h2>Connect</h2>
      <h3>&nbsp;with Jobs</h3>
      <p>Know what you’re looking for? Search for real job openings that are available today! </p>
      <div ><%= link_to "Connect with Jobs »", job_search_path, :class => "linkbtm" %></div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="span-46">
    <div class="inner_wrapperleft"> <span class="headingtxt">Welcome to STEMCareers</span><span class="cont" style="margin-top:10px;">A resource to learn all about STEM Careers, Educational Requirements, and Jobs that you may be interested in.</span>
      <p style="margin-top:16px;margin-bottom:28px;"><a href="<%=assessment_index_path%>"><%= image_tag "get_started_btn.jpg", :width=>"178", :height=>"39"  %></a></p>
      <div id="slideshow">
        <div class="btm_cont" style="border-left:5px solid #e7e7e7 !important;">
          <span>Did you know:</span>
          <p>In a study conducted by Carnegie Mellon University and The Intermediate Unit 1 Center for STEM Education, slightly more than 75% of the teachers noted Career Awareness as a topic that would help them to prepare students for STEM careers.</p>
          <p><span style="font-size:11px;">(Source: Leonard Gelfand Center for Service Learning and Outreach at Carnegie Mellon University and The Intermediate Unit 1 Center for STEM Education)</span></p>
        </div> 

        <div class="btm_cont" style="border-left:5px solid #e7e7e7 !important;">
          <span>Did you know:</span>
          <p>In a national poll of recent high school graduates, more than two-thirds who took Algebra II in high school reported that they were well prepared for the demand they faced in college and the work place.  In contrast, of graduates who took less than Algebra II, only four out of ten say they were well prepared.</p>
          <p><span style="font-size:11px;">(Source: Achieve, Inc.)</span></p>
        </div>

        <div class="btm_cont" style="border-left:5px solid #e7e7e7 !important;"> 
          <span>Did you know:</span>
          <p>High concentrations of STEM occupations are usually in areas with technology centers and research parks.</p>
          <p><span style="font-size:11px;">(Source: U.S. Bureau of Labor Statistics)</span></p>
        </div>
      </div>
    </div>
    <div class="inner_wrapperrght">
      <img src="/assets/STEM_IMG.jpg" width="232" height="287" border="0" usemap="#Map" />
      <map name="Map" id="Map">
        <area shape="circle" coords="118,131,51" href="#" alt="Mathematics" title="Science, Engineering and Technology use Mathematics to explore questions about the natural and human-made worlds." />
        <area shape="circle" coords="114,213,52" href="#" alt="Engineering" title="Engineering creatively applies scientific principles to analyze events, design processes, develop materials, and construct objects that benefit society." />
        <area shape="circle" coords="166,72,57" href="#" alt="Technology" title="Technology utilizes innovative tools, materials, and processes to solve problems or satisfy the needs of individuals, society, and the environment." />
        <area shape="circle" coords="68,58,55" href="#" alt="Science" title="Science seeks to explain the complexity of the natural world and uses this understanding to make valid and useful predictions." />
      </map>
    </div>
  </div>
  <div class="clear"></div>
  <div style="float:left; width:100%;">
    <div class="brder">&nbsp;</div>
    <div class="ourpartnr">Our Partners</div>
    <div class="brder">&nbsp;</div>
  </div>
  <div class="logos">
    <%= link_to image_tag("cisco_color.png", :width=>"93", :height=>"82",:border => 0),"http://www.cisco.com/web/about/ac48/about_cisco_cisco_foundation.html" %>
    <%= link_to image_tag("futures_color.png", :width=>"221", :height=>"82",:border => 0),"http://www.futuresinc.com/" %>
    <%= link_to image_tag("communicatio_color.png", :width=>"177", :height=>"82",:border => 0),"http://www.cisnc.org/" %>
  </div>
  <div class="clear"></div>
  <div id="light" class="white_content">
    <b style="font-size:14px;padding-top:5px;">Video Title</b> <%=link_to image_tag("close_btn.png",:size=>"29x29"),"#",:onclick=>"document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none';document.body.style.overflow = 'auto';$('.light').find('iframe').remove();",:class=>"line_del",:style=>"float:right"%> 
    <br class="clear"/>
    <div class="homepage_video">
    </div>
  </div>
  <div id="fade" class="black_overlay"></div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#slideshow").cycle({
      fx: 'scrollLeft',
      next:   '#slideshow', 
      pause:   1,
      delay: -2000
    });
    $('#tabs').tabs();
    $("#homepage_video").click(function(){
      document.getElementById('light').style.display='block';
      document.getElementById('fade').style.display='block';
      $("body").css("overflow", "hidden");
      $(".homepage_video").html('<iframe id="abcd" src="http://player.vimeo.com/video/22689471?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>');
    });
  });
</script>
<style type="text/css">
  /* error_modal styles */
  .black_overlay{
    display: none;
    position: absolute;
    top: -30%;
    left: 0%;
    width: 100%;
    height: 130% !important;
    /* height: 1800px !important; */
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);

  }
  .white_content {
    display: none;
    position: fixed;
    top: 20%;
    left: 25%;
    width: 475px;
    height: 300px;
    padding: 16px;
    background-color: white;
    z-index:1002;
    overflow:hidden;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
  }

  .homepage_video{
    border:5px solid #000;width:400px; height: 225px;margin-top: 15px; 
  }
</style>
