<div class="wrapperbanr">
  <div style="float:left;width:250px;">
    <div>
      <div class="side_navContainer">
        <h2><%= t(:industry_categories) %></h2>
        <br class="clear"/>
        <ul class="side_nav">
          <%- @industry_list.each do |industry| %>
            <li>
              <%= link_to_unless_current industry["sub_name"], industry_path(:id =>industry["sub_id"]) do %>
                <div><span><%=industry["sub_name"]%></span></div>
              <%- end -%>
            </li>
          <%- end -%>
        </ul>
      </div>
      <br class="clear"/>
      <%- unless @careers.empty? -%>
        <div >
          <h3 class="sideHeader"><%= t(:top_careers) %></h3>
          <ul class="topCareer">
            <%- @careers.each do |career| -%>
              <li><%= link_to truncate(career["title"], :length => 38), career_show_path(:api_safe_onet_code => career["api_safe_onet_soc_code"]), :title => h(career["title"]) %></li>
            <%- end -%>
          </ul>
        </div>
        <br class="clear"/>
      <%- end -%>
      <%- unless @video.blank? -%>
        <div>
          <h3 class="sideHeader"><%= t(:ditl) %></h3>
          <%= video_player_dialog("video_player", @video.title, @video) %>
          <div class="column span-13" style="position: relative; cursor: pointer;", title="<%= @video.title %>" onclick="return dialog('video_player', { width: '500px', height: '410px' });">
          <%= image_tag @video.thumbnail_url, :alt => @video.title, :width => "255", :class => "overlay" %>
          <%= image_tag "dialog/play.png", :alt => @video.title, :style => "position: absolute; top: 65px; left: 110px;" %>
        </div>
      </div>
    <%- end -%>
  </div>
</div>    
<div style="float:left;width:650px;margin-left:15px;">
  <div >
    <%= industry_image(@industry["image_url"],"large") %>
  </div>
  <div >
    <h2 class="signup"><%= @industry["name"] %></h2>
    <%- unless @industry["description"].blank? -%>
      <p><%= @industry["description"] %></p>
    <%- end -%>
  </div>
  <div >
    <h2 class="signup">
      <%= t(:industry_education) %>
    </h2>
    <p>
      <%= markdown(@industry["education"]) if @industry["education"].present?%>
    </p>

  </div>
</div>

</div>
<%#= render :partial => '/industries/company_logos' %>