<%- unless @occupations.blank? -%>
  <div class="span-35 last results">
    <% @occupations.each do |occupation| %>
      <div class="span-35 last prepend-top">
        <div class="span-35 last header">
          <span class="column">
            <b><%= link_to occupation["title"],career_show_path(occupation["id"], :api_safe_onet_code => occupation["api_safe_onet_soc_code"])%></b>
          </span>
        </div>
        <% if hash_has_value?(occupation,"average_national_salary") or hash_has_value?(occupation,"state_salaries")%>
          <ul style="margin:5px 0 0" class="column span-35 last horizontal_info_list bold">
            <% if hash_has_value?(occupation,"average_national_salary")%>
              <li>Avg. National Salary: <%= number_to_currency(occupation["average_national_salary"], :precision => 0) %></li>
            <% end %>

            <%- if hash_has_value?(occupation,"state_salaries") && params[:state_id].present? && occupation["state_salaries"].collect{|a| a["state"]}.index(params[:state_id]).present?-%>
              <li><%= t(:average)%> <%= params[:state_id] %> <%= t(:salary) %>: 
                <%= number_to_currency((occupation["state_salaries"][occupation["state_salaries"].collect{|a| a["state"]}.index(params[:state_id])]["average_salary"]), :precision => 0) %></li>
            <%- end -%>      
          </ul>
        <% end %>
        <div style="margin:5px 0 0" class="span-35 last">
          <%= truncate(occupation["description"], :length => 250) %>
        </div>
        <%- if hash_has_value?(occupation,"projected_national_openings") or hash_has_value?(occupation,"annual_national_growth") -%>
          <ul style="margin:5px 0 0" class="column span-35 last horizontal_info_list quiet">
            <%- if hash_has_value?(occupation,"projected_national_openings")-%>
              <li>Projected Job Openings: <%= number_with_delimiter(occupation["projected_national_openings"], :precision => 0) %></li>
            <%- end -%>
            <%- if hash_has_value?(occupation,"annual_national_growth") -%>
              <li>Annual Growth Rate: <%= number_with_delimiter(occupation["annual_national_growth"], :precision => 0) %> %</li>
            <%- end -%>
          </ul>
        <%- end -%>
        <%- if hash_has_value?(occupation,"industries") -%>
          <ul style="margin:5px 0 0" class="column span-35 last horizontal_info_list quiet">
            <li>
              Industry:
              <%- occupation["industries"].each do |i| -%>
                <%= link_to i["name"], "#" %>
              <%- end -%>
            </li>
          </ul>  
        <%- end -%>
        <div style="margin:5px 0" class="span-35 last column">
          <%= link_to t(:view_jobs_for, {:job => occupation["title"] }), job_search_path(:search => { 'keywords' => "onet:(#{occupation["onet_soc_code"].split('.')[0]})", 'location' => 'NC' }) %>
        </div>
      </div>
    <% end %>
    <div class="span-35 last append-bottom">
      <div class="inline_inputs right last" id="pagination">
      </div>
    </div>
  </div>
<%- else -%>
  <div class="span-30 append-8 prepend-2" style="margin-top: 9em;">
    <span><b>We're sorry, but no results were found. Please edit your search criteria and try again.</b></span>
  </div>
<%- end -%>
