<div class="wrapperbanr">
  <h2 style="font-size:17px;">STEM careers by Industry</h2>
  <br class="clear" />
  <br class="clear" />  
  <div>
    <div style="padding-right:10px;width:290px;float:left;">
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Advanced Manufacturing</h3><br/>
        <ul class="industry_ul">
          <li><%= link_to "Engineering Managers",career_show_path(:api_safe_onet_code => "11-9041-00") %></li>
          <li><%= link_to "Industrial Safety and Health Engineers",career_show_path(:api_safe_onet_code => "17-2111-01") %></li>
          <li><%= link_to "Product Safety Engineers",career_show_path(:api_safe_onet_code => "17-2111-03") %></li>
          <li><%= link_to "Industrial Engineers",career_show_path(:api_safe_onet_code => "17-2112-00") %></li>
          <li><%= link_to "Marine Engineers",career_show_path(:api_safe_onet_code => "17-2121-01") %></li>
          <li><%= link_to "Materials Engineers",career_show_path(:api_safe_onet_code => "17-2131-00") %></li>
          <li><%= link_to "Mining and Geological Engineers, Including Mining Safety Engineers",career_show_path(:api_safe_onet_code => "17-2151-00") %></li>
          <li><%= link_to "Petroleum Engineers",career_show_path(:api_safe_onet_code => "17-2171-00") %></li>
          <li><%= link_to "Electronics Engineering Technicians",career_show_path(:api_safe_onet_code => "17-3023-01") %></li>
          <li><%= link_to "Electrical Engineering Technicians",career_show_path(:api_safe_onet_code => "17-3023-03") %></li>
          <li><%= link_to "Electro-Mechanical Technicians",career_show_path(:api_safe_onet_code => "17-3024-00") %></li>
          <li><%= link_to "Industrial Engineering Technicians",career_show_path(:api_safe_onet_code => "17-3026-00") %></li>
          <li><%= link_to "Mechanical Engineering Technicians",career_show_path(:api_safe_onet_code => "17-3027-00") %></li>
          <li><%= link_to "Industrial Engineering Technologists",career_show_path(:api_safe_onet_code => "17-3029-05") %></li>
          <li><%= link_to "Chemists",career_show_path(:api_safe_onet_code => "19-2031-00") %></li>
          <li><%= link_to "Materials Scientists",career_show_path(:api_safe_onet_code => "19-2032-00") %></li>
          <li><%= link_to "Environmental Scientists and Specialists, Including Health",career_show_path(:api_safe_onet_code => "19-2041-00") %></li>
          <li><%= link_to "Biological Technicians",career_show_path(:api_safe_onet_code => "19-4021-00") %></li>
          <li><%= link_to "Chemical Technicians",career_show_path(:api_safe_onet_code => "19-4031-00") %></li>
        </ul>
      </div>


      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Aerospace</h3><br/>
        <ul class="industry_ul">
          <li><%= link_to "Aerospace Engineers",career_show_path(:api_safe_onet_code => "17-2011-00") %></li>
          <li><%= link_to "Industrial Engineers",career_show_path(:api_safe_onet_code => "17-2112-00") %></li>
          <li><%= link_to "Aerospace Engineering and Operations Technicians",career_show_path(:api_safe_onet_code => "17-3021-00") %></li>
          <li><%= link_to "Electrical and Electronic Engineering Technicians",career_show_path(:api_safe_onet_code => "17-3023-00") %></li>
          <li><%= link_to "Industrial Engineering Technicians",career_show_path(:api_safe_onet_code => "17-3026-00") %></li>
          <li><%= link_to "Mechanical Engineering Technicians",career_show_path(:api_safe_onet_code => "17-3027-00") %></li>
          <li><%= link_to "Avionics Technicians",career_show_path(:api_safe_onet_code => "49-2091-00") %></li>
          <li><%= link_to "Aircraft Mechanics and Service Technicians",career_show_path(:api_safe_onet_code => "49-3011-00") %></li>

        </ul>
      </div>


      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Agriculture, Food and Natural Resources</h3><br/>
        <ul class="industry_ul">

          <li><%= link_to "Nursery and Greenhouse Managers",career_show_path(:api_safe_onet_code => "11-9011-01") %></li>
          <li><%= link_to "Agricultural Engineers",career_show_path(:api_safe_onet_code => "17-2021-00") %></li>
          <li><%= link_to "Animal Scientists",career_show_path(:api_safe_onet_code => "19-1011-00") %></li>
          <li><%= link_to "Soil and Plant Scientists",career_show_path(:api_safe_onet_code => "19-1013-00") %></li>
          <li><%= link_to "Soil and Water Conservationists",career_show_path(:api_safe_onet_code => "19-1031-00") %></li>
          <li><%= link_to "Park Naturalists",career_show_path(:api_safe_onet_code => "19-1031-03") %></li>
          <li><%= link_to "Foresters",career_show_path(:api_safe_onet_code => "19-1032-00") %></li>
          <li><%= link_to "Agricultural Technicians",career_show_path(:api_safe_onet_code => "19-4011-00") %></li>
          <li><%= link_to "Forest and Conservation Technicians",career_show_path(:api_safe_onet_code => "19-4093-00") %></li>
          <li><%= link_to "Farm and Home Management Advisors",career_show_path(:api_safe_onet_code => "25-9021-00") %></li>
          <li><%= link_to "Fish and Game Wardens",career_show_path(:api_safe_onet_code => "33-3031-00") %></li>
          <li><%= link_to "First-Line Supervisors/Managers of Aquacultural Workers",career_show_path(:api_safe_onet_code => "45-1011-06") %></li>
          <li><%= link_to "First-Line Supervisors/Managers of Agricultural Crop and Horticultural Workers",career_show_path(:api_safe_onet_code => "45-1011-07") %></li>
          <li><%= link_to "First-Line Supervisors/Managers of Animal Husbandry and Animal Care Workers",career_show_path(:api_safe_onet_code => "45-1011-08") %></li>
          <li><%= link_to "Animal Breeders",career_show_path(:api_safe_onet_code => "45-2021-00") %></li>
          <li><%= link_to "Fishers and Related Fishing Workers",career_show_path(:api_safe_onet_code => "45-3011-00") %></li>
          <li><%= link_to "Forest and Conservation Workers",career_show_path(:api_safe_onet_code => "45-4011-00") %></li>
          <li><%= link_to "Fallers",career_show_path(:api_safe_onet_code => "45-4021-00") %></li>
          <li><%= link_to "Log Graders and Scalers",career_show_path(:api_safe_onet_code => "45-4023-00") %></li>
        </ul>
      </div>
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Automotive Services</h3><br/>
        <ul class="industry_ul">
          <li><%= link_to "Automotive Engineering Technicians",career_show_path(:api_safe_onet_code => "17-3027-01") %></li>
          <li><%= link_to "Automotive Master Mechanics",career_show_path(:api_safe_onet_code => "49-3023-01") %></li>
          <li><%= link_to "Automotive Specialty Technicians",career_show_path(:api_safe_onet_code => "49-3023-02") %></li>
        </ul>
      </div>
    </div>

    <div style="padding-right:10px;width:290px;float:left;">
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Biotechnology</h3><br/>
        <ul class="industry_ul">
          <li><%= link_to "Biomedical Engineers",career_show_path(:api_safe_onet_code => "17-2031-00") %></li>
          <li><%= link_to "Industrial Engineering Technicians",career_show_path(:api_safe_onet_code => "17-3026-00") %></li>
          <li><%= link_to "Food Scientists and Technologists",career_show_path(:api_safe_onet_code => "19-1012-00") %></li>
          <li><%= link_to "Biologists",career_show_path(:api_safe_onet_code => "19-1020-00") %></li>
          <li><%= link_to "Biochemists and Biophysicists",career_show_path(:api_safe_onet_code => "19-1021-00") %></li>
          <li><%= link_to "Microbiologists",career_show_path(:api_safe_onet_code => "19-1022-00") %></li>
          <li><%= link_to "Zoologists and Wildlife Biologists",career_show_path(:api_safe_onet_code => "19-1023-00") %></li>
          <li><%= link_to "Medical Scientists, Except Epidemiologists",career_show_path(:api_safe_onet_code => "19-1042-00") %></li>
          <li><%= link_to "Chemists",career_show_path(:api_safe_onet_code => "19-2031-00") %></li>
          <li><%= link_to "Food Science Technicians",career_show_path(:api_safe_onet_code => "19-4011-02") %></li>
          <li><%= link_to "Biological Technicians",career_show_path(:api_safe_onet_code => "19-4021-00") %></li>
          <li><%= link_to "Chemical Technicians",career_show_path(:api_safe_onet_code => "19-4031-00") %></li>
          <li><%= link_to "Food Batchmakers",career_show_path(:api_safe_onet_code => "51-3092-00") %></li>
          <li><%= link_to "Chemical Plant and System Operators",career_show_path(:api_safe_onet_code => "51-8091-00") %></li>
        </ul>
      </div>
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Business</h3><br/>
        <ul class="industry_ul">
          <li><%= link_to "Accountants",career_show_path(:api_safe_onet_code => "13-2011-01") %></li>
          <li><%= link_to "Auditors",career_show_path(:api_safe_onet_code => "13-2011-02") %></li>
          <li><%= link_to "Financial Specialists, All Other",career_show_path(:api_safe_onet_code => "13-2099-00") %></li>
          <li><%= link_to "Actuaries",career_show_path(:api_safe_onet_code => "15-2011-00") %></li>
          <li><%= link_to "Operations Research Analysts",career_show_path(:api_safe_onet_code => "15-2031-00") %></li>
          <li><%= link_to "Statisticians",career_show_path(:api_safe_onet_code => "15-2041-00") %></li>
          <li><%= link_to "Industrial-Organizational Psychologists",career_show_path(:api_safe_onet_code => "19-3032-00") %></li>
        </ul>
      </div>
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Construction</h3><br/>
        <ul class="industry_ul">
          <li><%= link_to "Cost Estimators",career_show_path(:api_safe_onet_code => "13-1051-00") %></li>
          <li><%= link_to "Civil Engineers",career_show_path(:api_safe_onet_code => "17-2051-00") %></li>
          <li><%= link_to "Environmental Engineers",career_show_path(:api_safe_onet_code => "17-2081-00") %></li>
          <li><%= link_to "Industrial Engineers",career_show_path(:api_safe_onet_code => "17-2112-00") %></li>
          <li><%= link_to "Mechanical Engineers",career_show_path(:api_safe_onet_code => "17-2141-00") %></li>
          <li><%= link_to "Civil Engineering Technicians",career_show_path(:api_safe_onet_code => "17-3022-00") %></li>
          <li><%= link_to "Mechanical Engineering Technicians",career_show_path(:api_safe_onet_code => "17-3027-00") %></li>
          <li><%= link_to "Environmental Scientists and Specialists, Including Health",career_show_path(:api_safe_onet_code => "19-2041-00") %></li>
          <li><%= link_to "Environmental Science and Protection Technicians, Including Health",career_show_path(:api_safe_onet_code => "19-4091-00") %></li>
          <li><%= link_to "Technical Writers",career_show_path(:api_safe_onet_code => "27-3042-00") %></li>
        </ul>
      </div>

      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Education</h3><br/>
        <ul class="industry_ul">
          <li><%= link_to "Mathematicians",career_show_path(:api_safe_onet_code => "15-2021-00") %></li>
          <li><%= link_to "Astronomers",career_show_path(:api_safe_onet_code => "19-2011-00") %></li>
          <li><%= link_to "Atmospheric and Space Scientists",career_show_path(:api_safe_onet_code => "25-1011-00") %></li>
          <li><%= link_to "Business Teachers, Postsecondary",career_show_path(:api_safe_onet_code => "25-1011-00") %></li>
          <li><%= link_to "Computer Science Teachers, Postsecondary",career_show_path(:api_safe_onet_code => "25-1021-00") %></li>
          <li><%= link_to "Mathematical Science Teachers, Postsecondary",career_show_path(:api_safe_onet_code => "25-1022-00") %></li>
          <li><%= link_to "Architecture Teachers, Postsecondary",career_show_path(:api_safe_onet_code => "25-1031-00") %></li>
          <li><%= link_to "Engineering Teachers, Postsecondary",career_show_path(:api_safe_onet_code => "25-1032-00") %></li>
          <li><%= link_to "Agricultural Sciences Teachers, Postsecondary",career_show_path(:api_safe_onet_code => "25-1041-00") %></li>
          <li><%= link_to "Biological Science Teachers, Postsecondary",career_show_path(:api_safe_onet_code => "25-1042-00") %></li>
          <li><%= link_to "Atmospheric, Earth, Marine, and Space Sciences Teachers, Postsecondary",career_show_path(:api_safe_onet_code => "25-1051-00") %></li>
          <li><%= link_to "Chemistry Teachers, Postsecondary",career_show_path(:api_safe_onet_code => "25-1052-00") %></li>
          <li><%= link_to "Environmental Science Teachers, Postsecondary",career_show_path(:api_safe_onet_code => "25-1053-00") %></li>
          <li><%= link_to "Physics Teachers, Postsecondary",career_show_path(:api_safe_onet_code => "25-1054-00") %></li>
          <li><%= link_to "Psychology Teachers, Postsecondary",career_show_path(:api_safe_onet_code => "25-1066-00") %></li>
          <li><%= link_to "Health Specialties Teachers, Postsecondary",career_show_path(:api_safe_onet_code => "25-1071-00") %></li>
          <li><%= link_to "Home Economics Teachers, Postsecondary",career_show_path(:api_safe_onet_code => "25-1192-00") %></li>
        </ul>
      </div>

      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Emerging Industries</h3><br/>
        <ul class="industry_ul">
          <li><%= link_to "Industrial Engineers",career_show_path(:api_safe_onet_code => "17-2112-00") %></li>
          <li><%= link_to "Nuclear Engineers",career_show_path(:api_safe_onet_code => "17-2161-00") %></li>
          <li><%= link_to "Architectural Drafters",career_show_path(:api_safe_onet_code => "17-3011-01") %></li>
          <li><%= link_to "Civil Engineering Technicians",career_show_path(:api_safe_onet_code => "17-3022-00") %></li>
          <li><%= link_to "Industrial Engineering Technicians",career_show_path(:api_safe_onet_code => "17-3026-00") %></li>
          <li><%= link_to "Mechanical Engineering Technicians",career_show_path(:api_safe_onet_code => "17-3027-00") %></li>
          <li><%= link_to "Chemists",career_show_path(:api_safe_onet_code => "19-2031-00") %></li>
          <li><%= link_to "Geoscientists, Except Hydrologists and Geographers",career_show_path(:api_safe_onet_code => "19-2042-00") %></li>
          <li><%= link_to "Chemical Technicians",career_show_path(:api_safe_onet_code => "19-4031-00") %></li>
          <li><%= link_to "Nuclear Equipment Operation Technicians",career_show_path(:api_safe_onet_code => "19-4051-01") %></li>
          <li><%= link_to "Nuclear Monitoring Technicians",career_show_path(:api_safe_onet_code => "19-4051-02") %></li>
          <li><%= link_to "Nuclear Medicine Technologists",career_show_path(:api_safe_onet_code => "29-2033-00") %></li>


        </ul>
      </div>

    </div>

    <div style="padding-right:10px;width:290px;float:left;">
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Energy</h3><br/>
        <ul class="industry_ul">
          <li><%= link_to "Chemical Engineers",career_show_path(:api_safe_onet_code => "17-2041-00") %></li>
          <li><%= link_to "Electrical Engineers",career_show_path(:api_safe_onet_code => "17-2071-00") %></li>
          <li><%= link_to "Electronics Engineers, Except Computer",career_show_path(:api_safe_onet_code => "17-2072-00") %></li>
          <li><%= link_to "Environmental Scientists and Specialists, Including Health",career_show_path(:api_safe_onet_code => "19-2041-00") %></li>
          <li><%= link_to "Geoscientists, Except Hydrologists and Geographers",career_show_path(:api_safe_onet_code => "19-2042-00") %></li>
        </ul>
      </div>
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Government and Public Administration</h3><br/>
        <ul class="industry_ul">
          <li><%= link_to "Natural Sciences Managers",career_show_path(:api_safe_onet_code => "11-9121-00") %></li>
          <li><%= link_to "Environmental Compliance Inspectors",career_show_path(:api_safe_onet_code => "13-1041-00") %></li>
          <li><%= link_to "Environmental Engineering Technicians",career_show_path(:api_safe_onet_code => "17-3025-00") %></li>
          <li><%= link_to "Conservation Scientists",career_show_path(:api_safe_onet_code => "19-1031-00") %></li>
          <li><%= link_to "Range Managers",career_show_path(:api_safe_onet_code => "19-1031-02") %></li>
          <li><%= link_to "Physicists",career_show_path(:api_safe_onet_code => "19-2012-00  ") %></li>
          <li><%= link_to "Hydrologists",career_show_path(:api_safe_onet_code => "19-2043-00") %></li>
          <li><%= link_to "Sociologists",career_show_path(:api_safe_onet_code => "19-3041-00") %></li>
        </ul>
      </div>
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Health Care</h3><br/>
        <ul class="industry_ul">
          <li><%= link_to "Epidemiologists",career_show_path(:api_safe_onet_code => "19-1041-00") %></li>
          <li><%= link_to "Medical Scientists, Except Epidemiologists",career_show_path(:api_safe_onet_code => "19-1042-00") %></li>
          <li><%= link_to "School Psychologists",career_show_path(:api_safe_onet_code => "19-3031-01") %></li>
          <li><%= link_to "Clinical Psychologists",career_show_path(:api_safe_onet_code => "19-3031-02") %></li>
          <li><%= link_to "Counseling Psychologists",career_show_path(:api_safe_onet_code => "19-3031-03") %></li>
          <li><%= link_to "Biological Technicians",career_show_path(:api_safe_onet_code => "19-4021-00") %></li>
          <li><%= link_to "Dietitians and Nutritionists",career_show_path(:api_safe_onet_code => "29-1031-00") %></li>
          <li><%= link_to "Pharmacists",career_show_path(:api_safe_onet_code => "29-1051-00") %></li>
          <li><%= link_to "Dietetic Technicians",career_show_path(:api_safe_onet_code => "29-2051-00") %></li>
        </ul>
      </div>
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Homeland Security</h3><br/>
        <ul class="industry_ul">
          <li><%= link_to "Fire-Prevention and Protection Engineers",career_show_path(:api_safe_onet_code => "17-2111-02") %></li>
        </ul>
      </div>
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Hospitality</h3><br/>
        <ul class="industry_ul">
          <li><%= link_to "First-Line Supervisors/Managers of Food Preparation and Serving Workers",career_show_path(:api_safe_onet_code => "35-1012-00") %></li>
          <li><%= link_to "Cooks, Institution and Cafeteria",career_show_path(:api_safe_onet_code => "35-2012-00") %></li>
        </ul>
      </div>
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Information Technology</h3><br/>
        <ul class="industry_ul">

          <li><%= link_to "Computer and Information Systems Managers",career_show_path(:api_safe_onet_code => "11-3021-00") %></li>
          <li><%= link_to "Computer and Information Scientists, Research",career_show_path(:api_safe_onet_code => "15-1011-00") %></li>
          <li><%= link_to "Computer Programmers",career_show_path(:api_safe_onet_code => "15-1021-00") %></li>
          <li><%= link_to "Computer Software Engineers, Applications",career_show_path(:api_safe_onet_code => "15-1031-00") %></li>
          <li><%= link_to "Computer Software Engineers, Systems Software",career_show_path(:api_safe_onet_code => "15-1032-00") %></li>
          <li><%= link_to "Computer Systems Analysts",career_show_path(:api_safe_onet_code => "15-1051-00") %></li>
          <li><%= link_to "Database Administrators",career_show_path(:api_safe_onet_code => "15-1061-00") %></li>
          <li><%= link_to "Network and Computer Systems Administrators",career_show_path(:api_safe_onet_code => "15-1071-00") %></li>
          <li><%= link_to "Computer Security Specialists",career_show_path(:api_safe_onet_code => "15-1071-01") %></li>
          <li><%= link_to "Network Systems and Data Communications Analysts",career_show_path(:api_safe_onet_code => "15-1081-00") %></li>
          <li><%= link_to "Computer Systems Engineers/Architects",career_show_path(:api_safe_onet_code => "15-1099-02") %></li>
          <li><%= link_to "Computer Hardware Engineers",career_show_path(:api_safe_onet_code => "17-2061-00") %></li>
          <li><%= link_to "Industrial Engineers",career_show_path(:api_safe_onet_code => "17-2112-00") %></li>
          <li><%= link_to "Industrial Engineering Technicians",career_show_path(:api_safe_onet_code => "17-3026-00") %></li>
          <li><%= link_to "Mechanical Engineering Technicians",career_show_path(:api_safe_onet_code => "17-3027-00") %></li>
          <li><%= link_to "Electrical Engineering Technologists",career_show_path(:api_safe_onet_code => "17-3029-02") %></li>
          <li><%= link_to "Electromechanical Engineering Technologists",career_show_path(:api_safe_onet_code => "17-3029-03") %></li>
          <li><%= link_to "Graphic Designers",career_show_path(:api_safe_onet_code => "27-1024-00") %></li>
          <li><%= link_to "Technical Writers",career_show_path(:api_safe_onet_code => "27-3042-00") %></li>
          <li><%= link_to "Numerical Tool and Process Control Programmers",career_show_path(:api_safe_onet_code => "51-4012-00") %></li>
        </ul>
      </div>
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Marketing, Sales and Service</h3><br/>
        <ul class="industry_ul">
          <li><%= link_to "Marine Architects",career_show_path(:api_safe_onet_code => "17-2121-02") %></li>
          <li><%= link_to "Civil Drafters",career_show_path(:api_safe_onet_code => "17-3011-02") %></li>
        </ul>
      </div>
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Retail</h3><br/>
        <ul class="industry_ul">
          <li><%= link_to "Graphic Designers",career_show_path(:api_safe_onet_code => "27-1024-00") %></li>
        </ul>
      </div>
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Transportation</h3><br/>
        <ul class="industry_ul">
          <li><%= link_to "Transportation Vehicle, Equipment and Systems Inspectors, Except Aviation",career_show_path(:api_safe_onet_code => "53-6051-07") %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .industry_ul{
    margin:5px 0px 5px 12px;
  }
  .industry_ul li a {
    color: #000 !important;
  }
</style>

