<div class="wrapperbanr">
  <div style="float:left;width:920px;margin:5px;">
    <div  style="float:left; width:315px;padding:0px 4px;">
      <h2 style="font-size:17px;">STEM Resources</h2>
      <br class="clear" />
      <p style="font-size:15px;color:#666666;">Are you interested in working with science, technology, engineering or mathematics? Checkout these great resources to get you started. But first...</p>
      <br />
      <div style="margin-top:5px;">
        <b style="font-size:13px;">What is a STEM Career</b>
        <br />
        <p style="font-size:13px;color:#666666;">
          Science, technology, engineering and mathematics (STEM) workers drive our nation's innovation and competitiveness by generating new ideas, new companies and new industries.
        </p>        
      </div>
      <div style="margin-top:5px;">
        <b style="font-size:13px;">Why choose a STEM Career?</b>
        <br />
        <p style="font-size:13px;color:#666666;">
          Most employers want workers who are able to reason and solve problems using some math, science or technical knowledge. In most cases, this knowledge can be obtained through a 2 year program at your Community College.
        </p>        
      </div>
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3>STEM careers are concentrated in the following industries:</h3><br/>
        <ul style="margin:5px 0px 5px 12px;">
          <li style="list-style-type:disc;">Agriculture, Agricultural Operations, and Related Sciences</li>
          <li style="list-style-type:disc;">Computer and Informational Sciences and Support Services </li>
          <li style="list-style-type:disc;">Engineering and Engineering Technologies</li>
          <li style="list-style-type:disc;">Biological and Biomedical Sciences</li>
          <li style="list-style-type:disc;">Mathematics and Statistics</li>
          <li style="list-style-type:disc;">Physical Sciences and Technologies</li>
        </ul>
      </div>
    </div>

    <div style="float:left;width:560px;margin:0px 4px;border:2px solid #eee;">
      <div class="video-container" data-group="1" style="width:560px;height:310px;">
        <video class="video_player" width="560" height="315"></video>
      </div>
      <div style="float:left;width:560px;margin-top:13px" class="scrollable_container">
        <div style="float:left;width:35px;"><a href="javascript:void(0);" class="prev browse left" id="prev"></a></div>
        <div id="slideshow" style="float:left;width:480px !important;" class="scrollable"> 
          <div class="items" style="float:left;width:478px !important;">
            <div class="slide">
              <a class="video thumb" data-group="1" data-uuid="fe6e4430-d09b-012d-bb7e-1231390b29f7"><%= image_tag "welcome/NMT.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="6a1792d0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-network-systems.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="8782f6d0-d09a-012d-bb7e-1231390b29f7"><%= image_tag "welcome/MMAandA.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="66180390-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-biological.jpg" %></a>
            </div> 
            <div class="slide"> 
              <a class="video thumb" data-group="1" data-uuid="afeefd60-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-automotive.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="b065d910-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-bus-and-truck.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="b08c18e0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-cardiovascular.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="b0dba080-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-computer-support.jpg" %></a>
            </div> 
            <div class="slide"> 
              <a class="video thumb" data-group="1" data-uuid="b0b131e0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-construction-carpenter.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="45363750-42af-012e-bb93-1231390b29f7"><%= image_tag "welcome/th-dental-assistant.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="b1698cd0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-dental-hygene.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="67b70d20-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-electric-power-line.jpg" %></a>
            </div> 
            <div class="slide"> 
              <a class="video thumb" data-group="1" data-uuid="66ae0380-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-electrician.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="68500330-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-emt.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="670e93c0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-graphic-designer.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="b3fbc980-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-maintenance-worker.jpg" %></a>
            </div> 
            <div class="slide"> 
              <a class="video thumb" data-group="1" data-uuid="69de5ac0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-medical-transcriptionist.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="6a1792d0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-network-systems.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="6a97fa10-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-nursing-aid.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="6c04d650-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-physical-therapist-assistant.jpg" %></a>
            </div> 
            <div class="slide">
              <a class="video thumb" data-group="1" data-uuid="b7138bc0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-radiologic-tech.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="6ab7a5d0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-respiratory-therapist.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="6b78f3f0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-surgical-tech.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="6c4aacd0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-telecommunications.jpg" %></a>
            </div> 
            <div class="slide"> 
              <a class="video thumb" data-group="1" data-uuid="6c74c1a0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-welders.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="69014d40-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-advertising-sales.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="afd36490-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-auto-body.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="68048a00-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-child-family-worker.jpg" %></a>
            </div> 
            <div class="slide">
              <a class="video thumb" data-group="1" data-uuid="69283680-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-computer-hardware.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="68a7b3c0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-construction-manager.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="b11d4620-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-customer-service-rep.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="674d5680-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-electrical-and-electronics.jpg" %></a>
            </div> 
            <div class="slide"> 
              <a class="video thumb" data-group="1" data-uuid="b30ffb60-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-industrial-engineering-technician.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="67871a90-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-industrial-machinery-mechanics.jpg" %></a>
              <a class="video thumb" data-group="1" data-uuid="b4bbdb60-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-medical-and-clinical.jpg" %></a>
            </div> 
          </div>
        </div> 
        <div style="float:left;width:35px;">
          <a href="javascript:void(0);" class="next browse right" id="next"></a>
        </div>
      </div>
    </div>
  </div>

  <hr class="divider" />
  <div  style="float:left;margin:0px 4px 10px 4px;width:920px;padding:5px;">
    <div style="float:left;width:400px;">
      <b style="font-size:13px;">When you've finished exploring STEM Career Pipeline,<br/>tell us what you think!</b>
      <br class="clear"/>
      <br/>
      Take a short survey that lets us what you liked and didn't like about the website.
    </div>
    <div style="float:left;color:white;padding:8px;margin-top:30px;">
      <%= link_to image_tag("Take-survey.png", :alt=>"Take a survey"),'/static/resources' %>
    </div>
  </div>

  <hr class="divider" />
  <div style="float:left;margin:0px 4px 9px 4px;width:920px;padding:5px;">
    <b style="font-size:14px;">Useful Links</b>
    <br/>
    <p style="font-size:13px;color:#666666;">
      Here are a few great resources to help you explore and learn about STEM Careers.
    </p>
    <br class="clear"/>
    <br/>
    <div style="float:left;width:200px;margin-right:10px;">
      <b style="font-size:13px;">STEM Disciplines</b>
      <ul style="color:gray;">
        <li><%= link_to "Chemistry","http://www.onetonline.org/find/stem/?t=4&g=Go",:style => "color=gray;" %></li>
        <li><%= link_to "Computer Science","http://www.onetonline.org/find/stem/?t=1&g=Go",:style => "color=#666;" %></li>
        <li><%= link_to "Engineering","http://www.onetonline.org/find/stem/?t=3&g=Go",:style => "color=#666;" %></li>
        <li><%= link_to "Environmental Science","http://www.onetonline.org/find/stem/?t=9&g=Go",:style => "color=#666;" %></li>
        <li><%= link_to "Geo Sciences","http://www.onetonline.org/find/stem/?t=5&g=Go",:style => "color=#666;" %></li>
        <li><%= link_to "Life Sciences","http://www.onetonline.org/find/stem/?t=2&g=Go",:style => "color=#666;" %></li>
        <li><%= link_to "Mathematics","http://www.onetonline.org/find/stem/?t=7&g=Go",:style => "color=#666;" %></li>
        <li><%= link_to "Physics/Astronomy","http://www.onetonline.org/find/stem/?t=8&g=Go",:style => "color=#666;" %></li>
        <li><%= link_to "All STEM Disciplines","http://www.onetonline.org/find/stem/?t=0&g=Go",:style => "color=#666;" %></li>
      </ul>
    </div>
    <div  style="float:left;width:200px;">
      <b style="font-size:13px;">STEM Library</b>
      <ul style="color:#666 !important;">
        <li><%= link_to "Videos","/static/videos",:style => "color=gray;" %></li>
        <li>
          <%= link_to "STEM Careers(by Industry)","/static/industries",:style => "color=#666;" %>
        </li>
      </ul>
      <br class="clear" />
      <b style="font-size:13px;">Career Paths</b>
      <ul style="color:gray;">
        <li><%= link_to "Explore Career Paths",career_search_path,:style => "color=gray;" %></li>
        <li><%= link_to "Military STEM Careers (Officers)","http://www.todaysmilitary.com/military-careers/military-career-fields/military-officer-careers/engineering-and-scientific-research-careers",:style => "color=#666;" %></li>
        <li><%= link_to "Military STEM Careers (Enlisted)","http://www.todaysmilitary.com/military-careers/military-career-fields/military-enlisted-careers/engineering-and-scientific-research-careers",:style => "color=#666;" %></li>
      </ul>
      <br class="clear" />
      <b style="font-size:13px;">Additional Resources</b>
      <ul style="color:gray;">
        <li><%= link_to "STEM Connector","http://www.stemconnector.org/",:style => "color=gray;" %></li>
      </ul>
    </div>

    <div  style="float:left;width:200px;">
      <b style="font-size:13px;">Industry Profiles</b>
      <ul style="color:#666 !important;">
        <% @industries.each do |i| %>
          <li><%= link_to i["name"],industry_path(i["id"]),:style => "color=gray;" %></li>
        <% end %>
      </ul>
    </div>
    <div class="span-7 rt">
      <div class="srcbg">
        <div class="spanL"></div>
        <div class="grt span-6 last">
          <h2>Want to know if you’re ready for a STEM career?</h2>
          <p>Take our simple 14-question self assessment to find out which careers match you.</p>
          <div class="linkbtm"><%= link_to "Assess Yourself »", assessment_index_path, :class => "linkbtm" %></div>
        </div>
        <div class="spanR"></div>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript"> 
  $(document).ready(function() {
    $('.items').before('<ul id="nav" style="overflow:hidden;">').cycle({
      fx: 'scrollHorz',
      timeout: -100,
      prev:    '#prev',
      next:    '#next',
      pagerAnchorBuilder: function(idx, slide) {
        // return selector string for existing anchor
        return '#nav li:eq(' + idx + ') a';
      }
    });
    
  });
</script>

<style type="text/css">
  #nav { width: 300px; }
  #nav li { width: 50px; float: left; margin: 8px; list-style: none }
  #nav a { width: 50px; padding: 3px; display: block; border: 1px solid #ccc; }
  #nav li.activeSlide a { background: #88f }
  #nav a:focus { outline: none; }
  #nav img { border: none; display: block }
</style>