<div class="wrapperbanr">


  <div style="float:left;width:440px;margin:0px 4px;">
    <iframe src="http://player.vimeo.com/video/2721460?title=0&amp;byline=0&amp;portrait=0" width="430" height="220" frameborder="0"></iframe>

    <div style="float:left;">
      <div style="float:left;"><a href="#"><span id="prev" style="padding:5px;background:gray;float:left;">Prev</span></a></div>

      <div class="slideshow" style="width:420px;float:left;"> 
        <div>
          <a class="video thumb" data-group="1" data-uuid="fe6e4430-d09b-012d-bb7e-1231390b29f7"><%= image_tag "welcome/NMT.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="6a1792d0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-network-systems.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="8782f6d0-d09a-012d-bb7e-1231390b29f7"><%= image_tag "welcome/MMAandA.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="66180390-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-biological.jpg" %></a>
        </div>
        <div>
          <a class="video thumb" data-group="1" data-uuid="afeefd60-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-automotive.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="b065d910-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-bus-and-truck.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="b08c18e0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-cardiovascular.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="b0dba080-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-computer-support.jpg" %></a>
        </div>
        <div>
          <a class="video thumb" data-group="1" data-uuid="b0b131e0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-construction-carpenter.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="45363750-42af-012e-bb93-1231390b29f7"><%= image_tag "welcome/th-dental-assistant.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="b1698cd0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-dental-hygene.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="67b70d20-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-electric-power-line.jpg" %></a>
        </div>
        <div>
          <a class="video thumb" data-group="1" data-uuid="66ae0380-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-electrician.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="68500330-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-emt.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="670e93c0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-graphic-designer.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="b3fbc980-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-maintenance-worker.jpg" %></a>
        </div>
        <div>
          <a class="video thumb" data-group="1" data-uuid="69de5ac0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-medical-transcriptionist.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="6a1792d0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-network-systems.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="6a97fa10-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-nursing-aid.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="6c04d650-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-physical-therapist-assistant.jpg" %></a>
        </div>
        <div>
          <a class="video thumb" data-group="1" data-uuid="b7138bc0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-radiologic-tech.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="6ab7a5d0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-respiratory-therapist.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="6b78f3f0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-surgical-tech.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="6c4aacd0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-telecommunications.jpg" %></a>
        </div>
        <div>
          <a class="video thumb" data-group="1" data-uuid="6c74c1a0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-welders.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="69014d40-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-advertising-sales.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="afd36490-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-auto-body.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="68048a00-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-child-family-worker.jpg" %></a>
        </div>
        <div>
          <a class="video thumb" data-group="1" data-uuid="69283680-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-computer-hardware.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="68a7b3c0-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-construction-manager.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="b11d4620-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-customer-service-rep.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="674d5680-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-electrical-and-electronics.jpg" %></a>
        </div>
        <div>
          <a class="video thumb" data-group="1" data-uuid="b30ffb60-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-industrial-engineering-technician.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="67871a90-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-industrial-machinery-mechanics.jpg" %></a>
          <a class="video thumb" data-group="1" data-uuid="b4bbdb60-41ef-012e-bb92-1231390b29f7"><%= image_tag "welcome/th-medical-and-clinical.jpg" %></a>
        </div>
      </div> 
      <div style="float:left;">
        <a href="#"><span id="next" style="padding:5px;background:gray;float:left;">Next</span></a></div>
    </div>
  </div>


</div>
<script type="text/javascript"> 
  $(document).ready(function() {
    
    $('.slideshow').before('<ul id="nav">').cycle({
      fx: 'scrollHorz',
      timeout: 0,
      prev:    '#prev',
      next:    '#next',
      pagerAnchorBuilder: function(idx, slide) {
        // return selector string for existing anchor
        return '#nav li:eq(' + idx + ') a';
        
      }
    });
    
  });
</script>

<style type="text/css">
  #slideshow { left: 20px }
  #nav { width: 300px; margin: 15px }
  #nav li { width: 50px; float: left; margin: 8px; list-style: none }
  #nav a { width: 50px; padding: 3px; display: block; border: 1px solid #ccc; }
  #nav li.activeSlide a { background: #88f }
  #nav a:focus { outline: none; }
  #nav img { border: none; display: block }
</style>