<div style="min-height:500px;">
  <div class="wrapperbanr">
    <div class="clear"></div>
    <!--Main container_left starts-->
    <div class="span-00">
      <div class="clear"></div>
      <div class="inner_wrapperleft_video">
        <h1>STEM Videos</h1>
        <span class="cont" style="margin-top:10px;font-size:16px;color:#666666;">Check out these STEM related career videos!</span>
        <div class="subpages linehght">
          <h3>Videos Promoting STEM</h3><br class="clear"/>
          
          <h4><%= link_to "A STEM Education, Tools to Change the World","http://www.youtube.com/watch?v=biWQZlUl-vE",:style => "color:#F76002 !important;" %></h4><p> - A video from the White House, expressing the need for more STEM education.</p><br/>
          <h4><%= link_to "We can be leaders","http://watch.thirteen.org/video/1496618812/",:style => "color:#F76002 !important;" %></h4><p> - A PBS video promoting STEM.</p><br/>
          <h4><%= link_to "The Geek Shall Inherit The Earth","http://www.youtube.com/watch?v=Q1UvQtQJC20",:style => "color:#F76002 !important;" %></h4><p> - Video promoting geeks and why being one is a good thing.</p><br/>
          <h4><%= link_to "Science Career Ladder Video","http://www.youtube.com/watch?v=O46NPRNae1g",:style => "color:#F76002 !important;" %></h4><p> - Highlights the need for STEM in the future.</p><br/>
          <h4><%= link_to "Education for Innovation: A Digital Town Hall","http://www.theinnovationeconomy.org/_layouts/IEC/Multimedia/EducationForInnovationDigitalTH.aspx?NavId=MM&LinkId=1",:style => "color:#F76002 !important;" %></h4><p> - General information about the next generation oif innovators.</p><br/>
          <h4><%= link_to "Design Our Future- A Career in Engineering","http://www.youtube.com/watch?v=Qnu12hl_XeE",:style => "color:#F76002 !important;" %></h4><p> - A promotional you to study engineering.</p><br/>
          <h4><%= link_to "Why pursue a science education?","http://espanol.video.yahoo.com/watch/8539572/22938998",:style => "color:#F76002 !important;" %></h4><p> - A video about the promotion of science.</p><br/>

          <h3>Other Videos</h3><br class="clear"/>
          <h4><%= link_to "Fundamentals of Physics","http://academicearth.org/courses/fundamentals-of-physics",:style => "color:#F76002 !important;" %></h4><p> - Video lectures.</p><br/>
          <h4><%= link_to "Changing Education Paradigms","http://www.youtube.com/watch?v=zDZFcDGpL4U",:style => "color:#F76002 !important;" %></h4><p> - talk about how to educate the children of the future.</p><br/>
          <h4><%= link_to "Physics 1: Classical Mechanics","http://academicearth.org/courses/physics-i-classical-mechanics",:style => "color:#F76002 !important;" %></h4><p> - Video lectures.</p><br/>
          <h4><%= link_to "Conrad Wolfram: Teaching kids real math with computers","http://www.ted.com/talks/conrad_wolfram_teaching_kids_real_math_with_computers.html",:style => "color:#F76002 !important;" %></h4><p> - TED talk about math.</p><br/>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>


