<div class="wrapperbanr">
  <b style="font-size:17px;">STEM Videos</b>
  <br />
  <p style="font-size:16px;color:#666666;">Checkout these STEM related career videos!</p>
  <br style="margin:5px"/>
  
  
  <b style="font-size:13px;">Videos promoting STEM</b>
  <ul>
    <li><%= link_to "A STEM Education, Tools to Change the World","http://www.youtube.com/watch?v=biWQZlUl-vE" %> - A video from the White House, expressing the need for more STEM education.</li>
    <li><%= link_to "We can be leaders","http://watch.thirteen.org/video/1496618812/" %> - A PBS video promoting STEM.</li>
    <li><%= link_to "The Geek Shall Inherit The Earth","http://www.youtube.com/watch?v=Q1UvQtQJC20" %> - Video promoting geeks and why being one is a good thing.</li>
    <li><%= link_to "Science Career Ladder Video","http://www.youtube.com/watch?v=O46NPRNae1g" %> - Highlights the need for STEM in the future.</li>
    <li><%= link_to "Education for Innovation: A Digital Town Hall","http://www.theinnovationeconomy.org/_layouts/IEC/Multimedia/EducationForInnovationDigitalTH.aspx?NavId=MM&LinkId=1" %> - General information about the next generation oif innovators.</li>
    <li><%= link_to "Design Our Future- A Career in Engineering","http://www.youtube.com/watch?v=Qnu12hl_XeE" %> - A promotional you to study engineering.</li>
    <li><%= link_to "Why pursue a science education?","http://espanol.video.yahoo.com/watch/8539572/22938998" %> - A video about the promotion of science.</li>
  </ul>
  <br style="margin:5px"/>
  
  
  <b style="font-size:13px;">Other Videos</b>
  <ul>
    <li><%= link_to "Fundamentals of Physics","http://academicearth.org/courses/fundamentals-of-physics" %> - Video lectures.</li>
    <li><%= link_to "Changing Education Paradigms","http://www.youtube.com/watch?v=zDZFcDGpL4U" %> - talk about how to educate the children of the future.</li>
    <li><%= link_to "Physics 1: Classical Mechanics","http://academicearth.org/courses/physics-i-classical-mechanics" %> - Video lectures.</li>
    <li><%= link_to "Conrad Wolfram: Teaching kids real math with computers","http://www.ted.com/talks/conrad_wolfram_teaching_kids_real_math_with_computers.html" %> - TED talk about math.</li>
  </ul>
</div>

