
<div class="wrapperbanr">
  <%= form_tag('/job/search', :method => :get, :class => "auto_search") do |f| -%>
    <h2 >Search for Jobs</h2><div class="brder" style="width:100%;"></div>
    <div class="inner_wrapperleft" style="margin-left:0px; width:100%;">
      <div class="top_bnr" style="height:60px !important;padding:10px;" >
        <span style="display:block;float:left; width:330px;margin-right:25px; font-family:'HelveticaBold', Arial; font-size:13px;">					Military Occupation or Job Keyword
          <label>
            <%= text_field_tag "search[keywords]" %>
          </label>
          <br />
        </span>
        <span style="display:block; width:330px;margin-right:25px; float:left;font-family:'HelveticaBold', Arial; font-size:13px;">Location				<br /> <label>
            <%= text_field_tag "search[location]" %>
          </label>
        </span> 
        <div style="margin-top:20px; float:left" >
          <%= submit_tag "", :alt => t(:search_now), :class => "btn_serchjbs" %>
        </div>
        <div class="clear"></div>

      </div>
      <div class="clear"></div>

    </div>

    <%- if @job_posts -%>
      <div class="span-10 append-1 left_nav prepend-top">
        <span class="bold quiet"><%= t(:narrow_your_results) %></span>
        <div class="span-9 last append-1 half_padding box_group rounded_box">
          <%= label_tag "search[job_type]", t(:job_type) %>
          <%= select_tag("search[job_type]", translate_options(ApplicationHelper::JOB_TYPE), { :include_blank => t(:any) }) %>
        </div>
        <div class="span-9 last append-1 half_padding box_group rounded_box append-bottom">
          <%= label_tag "search[distance]", t(:distance) %>
          <%= select_tag "search[distance]", translate_options(ApplicationHelper::DISTANCE), :include_blank => true %>
        </div>
      </div>

      <div class="span-35 last prepend-top">
        <%- if !@job_titles_part1.blank? -%>
          <div class="span-34 last half_padding light_blue_box">
            <b>Showing results for related civilian jobs. Click a specific job title to narrow the results.</b>
            <ul class="column span-16 last">
              <%- @job_titles_part1.each do |title| -%>
                <li><%= link_to title, search_job_posts_path(:search => { 'keywords' => "\"#{title}\"", 'location' => @search.location }) %></li>
              <%- end -%>
            </ul>
            <%- if !@job_titles_part2.blank? -%>
              <ul class="column span-16 last">
                <%- @job_titles_part2.each do |title| -%>
                  <li><%= link_to title, search_job_posts_path(:search => { 'keywords' => "\"#{title}\"", 'location' => @search.location }) %></li>
                <%- end -%>
              </ul>
            <%- end -%>
          </div>
        <%- end -%>

        <div class="span-35 last bold prepend-top">
          <div id="result_count" class="left"><%#= markdown(t(:found_x_matches_for_keyword, :count => @job_posts.total_entries, :keyword => @search.keywords)) %></div>
          <div class="right">
            <%= t(:sort_by) %>
            <%= select_tag "search[sort]",ApplicationHelper::SORT_OPTIONS %>
          </div>
        </div>
        <hr class="auto" />

        <div class="span-35 last results">
          <%= render :partial => 'job_list', :locals => {:f => f, :return_to => job_search_path(:search => params[:search])} %>
        </div>
      </div>
    <%- end -%>

    <div class="clear">
      <br />
      <br />
    </div>
  <% end %>
</div>
