<div class=" wrapperbanr">
  <div class="span-46 last wearhouse">
    <div class="box2 box_grey span-46 prepend-top">
      <div style="padding-bottom:18px" class="prepend-1 append-1 prepend-top span-44">
        <div class="column span-206">
          <%- if hash_has_value?(@job_post,"company") -%>
            <%= image_tag "paperclip_files/companies/logos/missing_large.jpg" %>
          <%- end -%>
        </div>
        <div style="position:relative; min-height: 150px" class="column span-36 last">
          <div class="column">
            <h1><%= @job_post["title"] %></h1>
            <br /><br />
            &nbsp;<%= t(:at) %> 
            <a class="bold large" href="#"><%= @job_post["company"] %></a>
          </div>
          <span><%= truncate_html(@job_post["company"]["description"].bbcode_to_html, :length => 350)  if hash_has_value?(@job_post,"company") && @job_post["company"]["description"].present?%></span>
          <div class="bottom_right">
            <div class="rt indent"><%= render 'commons/add_this' %></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <div class="box2 span-46 prepend-top append-bottom">
      <div class="prepend-1 append-1 prepend-top append-bottom span-44">
        <div class="span-32">
          <div class="span-31 append-1" style="float:left;">
            <div style="width:50px;float:left;">
              <%= image_tag("profile/j_profile_description.png") %>
            </div>
            <div class="last" style="width:555px;float:left;">
              <b>Job Description</b>
              <hr class="divider"/>
              <span>
                <%= bbcode_to_html(@job_post["description"].gsub(/<[^>]*>/,'')) if hash_has_value?(@job_post,"description")%>
              </span>
            </div>
          </div>
        </div>
        <div class="box2 box_grey span-11 last">
          <div style="margin: 10px">

            <%= image_tag("profile/j_profile_overview.png", :class => "middle") %> <span style="font-weight: bold;">Job Overview</span>
            <hr class="divider">


            <%- if hash_has_value?(@job_post,"salary_type")-%>
              <div style="margin-top: 10px;">
                <label style="font-weight: bold"><%= t(:salary) %>:</label><br />
                <%- if @job_post["salary_type"] == 'specified_amount' -%>
                  <span><%= number_to_currency(@job_post["salary"], :unit => '$', :separator => ".", :delimiter => ",")%></span>
                <%- else -%>
                  <span><%= t(@job_post["salary_type"]) %></span>
                <%- end -%>
              </div>
            <%- end -%>


            <div style="margin-top: 10px;">
              <label style="font-weight: bold">Location:</label><br>
              <span><%= @job_post["city"] %>,<%= @job_post["state"] %> </span>
            </div>

            <%- if hash_has_value?(@job_post,"job_type") -%>
              <div style="margin-top: 10px;">
                <label style="font-weight: bold">Job Type:</label><br>
                <span>
                  <%= @job_post["job_type"] %>
                </span>
              </div>
            <%- end -%>

            <% if hash_has_value?(@job_post,"requisition_number") %>
              <div style="margin-top: 10px;">
                <label style="font-weight: bold">Requisition#:</label><br>
                <span><%=@job_post["requisition_number"]%></span>
              </div>
            <% end %>

            <%- if hash_has_value?(@job_post,"close_on") -%>
              <div style="margin-top: 10px;">
                <label style="font-weight: bold"><%= t(:apply_by) %>:</label><br />
                <span><%= @job_post["close_on"].to_time.strftime("%B #{@job_post["close_on"].to_time.day}, %Y") %></span>
              </div>
            <%- end -%>

            <%- if hash_has_value?(@job_post,"duration") -%>
              <div style="margin-top: 10px;">
                <label style="font-weight: bold"><%= t(:duration_days) %>:</label><br />
                <span><%= @job_post["duration"] %></span>
              </div>
            <%- end -%>

            <%- if hash_has_value?(@job_post,"education_level") -%>
              <div style="margin-top: 10px;">
                <label style="font-weight: bold"><%= t(:preferred_education_level) %>:</label><br />
                <span><%= t(@job_post["education_level"]) %></span>
              </div>
            <%- end -%>

            <%- if hash_has_value?(@job_post,"career_level") -%>
              <div style="margin-top: 10px;">
                <label style="font-weight: bold"><%= t(:preferred_career_level) %>:</label><br />
                <span><%= t(@job_post["career_level"]) %></span>
              </div>
            <%- end -%>

            <%- if hash_has_value?(@job_post,"job_function") -%>
              <div style="margin-top: 10px;">
                <label style="font-weight: bold"><%= t(:job_function) %>:</label><br />
                <span><%= t(@job_post["job_function"]) %></span>
              </div>
            <%- end -%>

            <%- if hash_has_value?(@job_post,"job_site") -%>
              <div style="margin-top: 10px;">
                <label style="font-weight: bold"><%= t(:job_site) %>:</label><br />
                <span><%= t(@job_post["job_site"]) %></span>
              </div>
            <%- end -%>

            <%- if hash_has_value?(@job_post,"dress_code") -%>
              <div style="margin-top: 10px;">
                <label style="font-weight: bold"><%= t(:dress_code) %>:</label><br />
                <span><%= t(@job_post["dress_code"]) %></span>
              </div>
            <%- end -%>

            <%- if hash_has_value?(@job_post,"job_hours_type") -%>
              <div style="margin-top: 10px;">
                <label style="font-weight: bold"><%= t(:schedule) %>:</label><br />
                <span><%= t(@job_post["job_hours_type"]) %></span>
              </div>
            <%- end -%>

            <%- if hash_has_value?(@job_post,"travel_time") -%>
              <div style="margin-top: 10px;">
                <label style="font-weight: bold"><%= t(:travel) %>:</label><br />
                <span><%= t(@job_post["travel_time"]) %></span>
              </div>
            <%- end -%>

            <%- if hash_has_value?(@job_post,"benefits") -%>
              <div style="margin-top: 10px;">
                <label style="font-weight: bold"><%= t(:benefits) %>:</label><br />
                <%- @job_post["benefits"].each do |benefit| -%>
                  <span><%= t(benefit) %></span><br />
                <%- end -%>
              </div>
            <%- end -%>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="clear"></div>
</div>