
<div class="wrapperbanr">
  <h2>Explore the Career Paths</h2>
  <hr />
  <div class="span-46 last">
    <div class="span-34 prepend-top">
      <div class="span-33 half_padding box2 bg_srccar rounded_box search">
        <form accept-charset="UTF-8" action="/careers/result" class="auto_search" id="new_search" method="get">
          <div style="margin:0;padding:0;display:inline">
            <input name="utf8" type="hidden" value="✓">
          </div>
          <input id="search_sort" name="search[sort]" type="hidden" value="salary">
          <h1 class="column span-33 last title bold">Search for Careers</h1>
          <div class="span-33 last append-bottom bold">By Keyword or Military Occupation (MOC)</div>
          <div class="span-18 inline_inputs">
            <input type="text" id="ezpz_hint_dummy_input_0" value="" class="moc_autocomplete_multiple hint ezpz-hint ui-autocomplete-input" size="40" autocomplete="off" tabindex="0" role="textbox" aria-autocomplete="list" aria-haspopup="true">
            <input class="moc_autocomplete_multiple hint ui-autocomplete-input" hint="e.g. 'Nurse' or '11B'" id="search_keywords" name="search[keywords]" size="40" type="text" title="e.g. 'Nurse' or '11B'" style="display: none; " autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
          </div>
          <div class="span-15 last inline_inputs">
            <input  class="btn_carrer" value="" type="button"/>
          </div>
        </form>
      </div>
      <div class="shdw"></div>
      <div class="span-33 half_padding">
        <h1 class="column span-33 last title">Browse Career Paths by Industry</h1>
        <hr/>
        <div class="span-33 last prepend-top">
          <div class="span-11 append-bottom ">
            <div class="column"><%= image_tag "1.png", :alt => "Advanced manufacturing" %></div>
            <div class="span-9 last bold">Advanced Manufacturing</div>
            <div class="span-9 last"> <a href="/careers/result?search%5Bindustry_id%5D=1" title="Advanced Manufacturing industry">Career Paths</a> | <a href="/industries/1-advanced-manufacturing" title="Advanced Manufacturing industry">Learn More</a> </div>
          </div>
          <div class="span-11 append-bottom ">
            <div class="column"><%= image_tag "2.png", :alt => "Aerospace industry" %></div>
            <div class="span-9 last bold">Aerospace</div>
            <div class="span-9 last"> <a href="/careers/result?search%5Bindustry_id%5D=2" title="Aerospace industry">Career Paths</a> | <a href="/industries/2-aerospace" title="Aerospace industry">Learn More</a> </div>
          </div>
          <div class="span-11 append-bottom last">
            <div class="column"><%= image_tag "3.png", :alt => "Automotive_services" %></div>
            <div class="span-9 last bold">Automotive Services</div>
            <div class="span-9 last"> <a href="/careers/result?search%5Bindustry_id%5D=3" title="Automotive Services industry">Career Paths</a> | <a href="/industries/3-automotive-services" title="Automotive Services industry">Learn More</a> </div>
          </div>
          <div class="span-11 append-bottom ">
            <div class="column"><%= image_tag "4.png", :alt => "Biotechnology Industry" %></div>
            <div class="span-9 last bold">Biotechnology</div>
            <div class="span-9 last"> <a href="/careers/result?search%5Bindustry_id%5D=4" title="Biotechnology industry">Career Paths</a> | <a href="/industries/4-biotechnology" title="Biotechnology industry">Learn More</a> </div>
          </div>
          <div class="span-11 append-bottom ">
            <div class="column"><%= image_tag "5.png", :alt => "Business" %></div>
            <div class="span-9 last bold">Business</div>
            <div class="span-9 last"> <a href="/careers/result?search%5Bindustry_id%5D=5" title="Business industry">Career Paths</a> | <a href="/industries/5-business" title="Business industry">Learn More</a> </div>
          </div>
          <div class="span-11 append-bottom last">
            <div class="column"><%= image_tag "6.png", :alt => "Construction" %></div>
            <div class="span-9 last bold">Construction</div>
            <div class="span-9 last"> <a href="/careers/result?search%5Bindustry_id%5D=6" title="Construction industry">Career Paths</a> | <a href="/industries/6-construction" title="Construction industry">Learn More</a> </div>
          </div>
          <div class="span-11 append-bottom ">
            <div class="column"><%= image_tag "7.png", :alt => "Education" %></div>
            <div class="span-9 last bold">Education</div>
            <div class="span-9 last"> <a href="/careers/result?search%5Bindustry_id%5D=7" title="Education industry">Career Paths</a> | <a href="/industries/7-education" title="Education industry">Learn More</a> </div>
          </div>
          <div class="span-11 append-bottom ">
            <div class="column"><%= image_tag "8.png", :alt => "Emerging Industries industry" %></div>
            <div class="span-9 last bold">Emerging Industries</div>
            <div class="span-9 last"> <a href="/careers/result?search%5Bindustry_id%5D=8" title="Emerging Industries industry">Career Paths</a> | <a href="/industries/8-emerging-industries" title="Emerging Industries industry">Learn More</a> </div>
          </div>
          <div class="span-11 append-bottom last">
            <div class="column"><%= image_tag "8.png", :alt => "Energy industry" %></div>
            <div class="span-9 last bold">Energy</div>
            <div class="span-9 last"> <a href="/careers/result?search%5Bindustry_id%5D=9" title="Energy industry">Career Paths</a> | <a href="/industries/9-energy" title="Energy industry">Learn More</a> </div>
          </div>
          <div class="span-11 append-bottom ">
            <div class="column"><%= image_tag "8.png", :alt => "Health Care industry" %></div>
            <div class="span-9 last bold">Health Care</div>
            <div class="span-9 last"> <a href="/careers/result?search%5Bindustry_id%5D=10" title="Health Care industry">Career Paths</a> | <a href="/industries/10-health-care" title="Health Care industry">Learn More</a> </div>
          </div>
          <div class="span-11 append-bottom ">
            <div class="column"><%= image_tag "6.png", :alt => "Homeland Security" %></div>
            <div class="span-9 last bold">Homeland Security</div>
            <div class="span-9 last"> <a href="/careers/result?search%5Bindustry_id%5D=11" title="Homeland Security industry">Career Paths</a> | <a href="/industries/11-homeland-security" title="Homeland Security industry">Learn More</a> </div>
          </div>
          <div class="span-11 append-bottom last">
            <div class="column"><%= image_tag "6.png", :alt => "Hospitality" %></div>
            <div class="span-9 last bold">Hospitality</div>
            <div class="span-9 last"> <a href="/careers/result?search%5Bindustry_id%5D=12" title="Hospitality industry">Career Paths</a> | <a href="/industries/12-hospitality" title="Hospitality industry">Learn More</a> </div>
          </div>
          <div class="span-11 append-bottom ">
            <div class="column"><%= image_tag "6.png", :alt => "Information Technology" %></div>
            <div class="span-9 last bold">Information Technology</div>
            <div class="span-9 last"> <a href="/careers/result?search%5Bindustry_id%5D=13" title="Information Technology industry">Career Paths</a> | <a href="/industries/13-information-technology" title="Information Technology industry">Learn More</a> </div>
          </div>
          <div class="span-11 append-bottom ">
            <div class="column"><%= image_tag "6.png", :alt => "Retail" %></div>
            <div class="span-9 last bold">Retail</div>
            <div class="span-9 last"> <a href="/careers/result?search%5Bindustry_id%5D=14" title="Retail industry">Career Paths</a> | <a href="/industries/14-retail" title="Retail industry">Learn More</a> </div>
          </div>
          <div class="span-11 append-bottom last">
            <div class="column"><%= image_tag "6.png", :alt => "Transportation" %></div>
            <div class="span-9 last bold">Transportation</div>
            <div class="span-9 last"> <a href="/careers/result?search%5Bindustry_id%5D=15" title="Transportation industry">Career Paths</a> | <a href="/industries/15-transportation" title="Transportation industry">Learn More</a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span-11 last prepend-top push-left">
      <div class="span-11 last box2 rounded_box grdt_rght">
        <div class="span-10 last half_padding sidebar">
          <div >
            <h3>Not sure where to start ?</h3>
            <p style="margin-top:10px;">Answer These 14 questions to learn what careers might best match your skills and interests .It should only take a few minutes .Don’t Think too hard about your answers .Go with your first choice</p>
            <div style="text-align:center;width:194px; margin:10px 38px 0px; clear:both;"><a href="#" class="btn_tkeasse"></a></div>
            <div class="clear"><br />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"><br />
    </div>
  </div>
  <div class="clear"><br />
  </div>
</div>

