<div class="footerwraper">
  <div class="container">
    <ul class="span-5">
      <li><b>STEM Career Resources</b></li>
      <li>&nbsp;</li>
      <li><%= link_to "About STEM Careers", "static/about" %></li>
      <li><%= link_to "Assess Yourself", assessment_index_path%></li>
      <li><%= link_to "Explore Careers", career_search_path %></li>
      <li><%= link_to "Connect with Jobs", job_search_path %></li>
      <li><%= link_to "Find STEM Resources", "/static/resources" %></li>
    </ul>
    <ul>
      <li><b>STEM Careers</b></li>
      <li>&nbsp;</li>
      <li><%= link_to "Privacy Policy", "/static/privacy" %></li>
      <li><%= link_to "Terms of Use", "/static/term" %></li>
      <li><%= link_to "Supporty", "/static/support" %></li>
    </ul>
    <ul>
      <li><b>Follow Us</b></li>
      <li>&nbsp;</li>
      <li>
        <%= image_tag "f.png", :width=>"33", :height=>"33"%>
        <%= image_tag "t.png", :width=>"33", :height=>"33"%>
        <%= image_tag "y.png", :width=>"33", :height=>"33"%>
      </li>
    </ul>
    <div style="float:right">© Copyright 2012 Futures Inc. All rights reserved.</div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
