<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%= stylesheet_link_tag    "application","style","blueprint/grid", :media => "all" %>
    <%= javascript_include_tag "application","jquery-ui.min" %>
    <%= yield(:head) %>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      <%- if content_for?(:title) -%>
        <%= yield(:title) %>
      <%- else -%>
        <%= "Welcome to STEMCareers"%>
      <%- end -%>
    </title>
  </head>

  <body>
    <div class="bgtp"></div>
    <div class="whtbg">
      <!--Menu starts-->
      <%= render "layouts/menu" %>
    </div>
    <div class="orng_bg">
      <!--Main container starts-->
      <%= yield %>
      <!--End of Main container-->
      <!--Footer starts-->
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
